body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.hero, .footer {
  background-color: #1F2937;
}





.hero {
  display: flex;
  flex-direction: column;
  padding: 10px 120px 120px 120px;
  gap: 32px;
  align-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  color: #F9FAF8; /* for alt text*/
  font-size: 24px;
  width: 40px;
}

.header .links a, .title p {
  font-size: 18px;
  color: #E5E7EB;
}

.header .links {
  display: flex;
  gap: 18px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.title h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.title .hero-image {
  width: 400px;
}

.title .sign-up {
  background-color: #3882F6;
  border-radius: 5px;
  padding: 8px 24px;
  border: 0px;
  color: white;
}




.information {}





.quote {
  background-color: #E5E7EB;
}





.call-to-action {}





.footer {
}






